<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
    <head>
        <title th:text="${errorParams.get('status')} + '|' + ${errorParams.get('error')}">Error</title>
    </head>
    <body>
        <div layout:fragment="content" th:remove="tag">
            <div class="text-center">
                <h1 th:text="${errorParams.get('error')}"></h1>
                <p class="text-muted" th:text="${errorParams.get('message')}">Oops!... An Error Occurred!</p>
                <p class="margin-top-10">
                    <a href="/" th:href="@{/books}" class="color-mint">Back to home page</a>
                </p>
                <hr class="border-mint">
            </div>
        </div>
    </body>
</html>